
      
<div class="p-2 flex-offerta border rounded" style="background-image: url('../images/banner/<%= brand %>-<%= name %>.png');">
    <a href="/book?brand=<%= brand %>&name=<%= name %>"></a>
</div>






