<div class="d-flex">
    <div class="border-top my-2"></div>
    <label class="control"> <%= optional.optional %> <%= optional.costoOptional %>€
        <input type="checkbox" name="<%= optional.optional %>" value="<%= optional.costoOptional %>">
        <div class="control__indicator"></div>
    </label>
</div>
  